.footer {
  padding: 30px 0 15px;
  background: var(--color-000);
}

.footer-wrap {
  width: 317px;
  display: block;
  margin: auto;
}

.footer-navigation {
  margin: 0 -15px 18px;
}

.footer-navigation__list-item {
  margin: 0 15px;
  font-size: 15px;
}

.copyright-container {
  width: 130px;
  margin: auto;
}

.copyright {
  font:
    normal 400 12px normal,
    "Open Sans";
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: capitalize;
}
